force-app/main/default/flows/Number_of_Contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Populate TotalCount value in Number of Contacts field</description>
        <name>Assign_Total</name>
        <label>Assign Total</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Number_Of_Contacts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalCount</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Increment TotalCount By 1</description>
        <name>Increment_TotalCount_By_1</name>
        <label>Increment TotalCount By 1</label>
        <locationX>138</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>TotalCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Over_Related_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Num Of Contacts = 0</description>
        <name>Num_Of_Contacts_0</name>
        <label>Num Of Contacts = 0</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Number_Of_Contacts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Assign the real size of the related contacts</description>
        <name>Number_of_Contacts_Size</name>
        <label>Number of Contacts = Size</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Number_Of_Contacts__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Related_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Over_Related_Contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if there are related contacts</description>
        <name>Related_Contact_Exist</name>
        <label>Related Contact Exist?</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Num_Of_Contacts_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Number_of_Contacts_Size</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow to count the number of contacts of high profile accounts</description>
    <environments>Default</environments>
    <interviewLabel>Number of Contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Number of Contacts</label>
    <loops>
        <description>Iterate Over Related Contacts</description>
        <name>Over_Related_Contacts</name>
        <label>Over Related Contacts</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <collectionReference>Related_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_TotalCount_By_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Total</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get all the contacts under the current account</description>
        <name>Related_Contacts</name>
        <label>Related Contacts</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Contact_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Related_Contacts</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AnnualRevenue</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>5000000.0</numberValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the total number of contacts</description>
        <name>TotalCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
