force-app/main/default/flows/Post_Airlines_Callout.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_Airlines_Action</name>
        <label>Post Airlines Action</label>
        <locationX>352</locationX>
        <locationY>384</locationY>
        <actionName>PostAirlinesService.PostAirlinesCallout</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Callout_Succeeded</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>RequestBody</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Populate_Request_Body</name>
        <label>Populate Request Body</label>
        <locationX>352</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>RequestBody.country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.established</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Established__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.headx5fquaters</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Head_Quaters__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.logo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Logo_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.slogan</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Slogan__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Website__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Airlines_Action</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Callout_Succeeded</name>
        <label>Callout Succeeded?</label>
        <locationX>352</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Post_Airlines_Action.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Post Airlines Callout {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Post Airlines Callout</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Airlines_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Airlines__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Post_Airlines_1_Min_After</name>
            <connector>
                <targetReference>Populate_Request_Body</targetReference>
            </connector>
            <label>Post Airlines - 1 Min After</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RequestBody</name>
        <apexClass>ExternalService__PostAirlinesService_PostAirlinesCallout_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
