force-app/main/default/flows/Post_Product_Callout.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Action that makes the post product callout</description>
        <name>Post_Product_Action</name>
        <label>Post Product Action</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <actionName>PostProductService.PostProductCallout</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Callout_Succeeded</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>RequestBody</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Populate Request Body</description>
        <name>Populate_Request_Body</name>
        <label>Populate Request Body</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>RequestBody.brand</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Brand__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.category</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.discountPercentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Discount_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.price</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Rating__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.stock</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Stock__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.thumbnail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Thumbnail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Product_Action</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if the callout is succeeded or not</description>
        <name>Callout_Succeeded</name>
        <label>Callout Succeeded?</label>
        <locationX>374</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Create_Log</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Post_Product_Action.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Product_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Post Product Callout</description>
    <environments>Default</environments>
    <interviewLabel>Post Product Callout {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Post Product Callout</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Populate Product ID on the record</description>
        <name>Capture_Product_ID</name>
        <label>Capture Product ID</label>
        <locationX>242</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Product_Id__c</field>
            <value>
                <elementReference>Post_Product_Action.2XX.id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Ecommerce_Product__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Make_Post_Product_Callout</name>
            <connector>
                <targetReference>Populate_Request_Body</targetReference>
            </connector>
            <label>Make Post Product Callout</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Log</name>
        <label>Create Log</label>
        <locationX>506</locationX>
        <locationY>600</locationY>
        <flowName>Application_Log</flowName>
        <inputAssignments>
            <name>Details</name>
            <value>
                <elementReference>Post_Product_Action.defaultExc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ExceptionMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Origin</name>
            <value>
                <stringValue>Post Product Callout</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Request Body</description>
        <name>RequestBody</name>
        <apexClass>ExternalService__PostProductService_PostProductCallout_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
